# compiled output
/dist/*.js*
/dist/*.ts*
/dist/*/*.ts*
!/dist/libs/simconnect.node
/node_modules
/src/node_modules
/src/bindings/simconnect/build

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
